html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3 {
	text-align: center;
	padding-bottom: 30px;
}

#underline {
	text-decoration: underline;
	text-decoration-color: #007bff !important;
	display: inline-block;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
}

#navtext {
	padding-right: 20px;
	padding-left: 10px;
	text-align: center;
}

#pics {
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 30px;
	background-color: #343a40 !important;
}

#holder {
	padding-right: 120px;
	padding-left: 120px;
}
